body {
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #ffb399;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.music-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.music-container .music-content {
  position: relative;
  width: 245px;
  height: 450px;
  border: solid;
  border-width: 8px 4px;
  border-radius: 20px;
  background-color: #000000;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.52);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.52);
  overflow: hidden;
}

.music-container .music-content #bg-image {
  position: absolute;
  top: 50%;
  width: 105%;
  z-index: 1;
  left: 50%;
  height: 105%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.music-container .music-content #bg-image #black-layer {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.404);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.music-container .music-content #bg-image #menu {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.music-container .music-content #bg-image #menu img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.music-container .music-content #bg-image #volume-container {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 15px;
}

.music-container .music-content #bg-image #volume-container img {
  width: 16px;
  height: 16px;
  margin: 0 15px;
}

.music-container .music-content #bg-image #volume-container .slider {
  position: relative;
  z-index: 999;
  width: 110px;
  height: 1px;
  outline: none;
  background-color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.music-container .music-content #bg-image #volume-container .slider::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  outline: none;
  background-color: #e62c2f;
  border-radius: 50%;
  -webkit-appearance: none;
          appearance: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.music-container .music-content #bg-image #volume-container .slider:active::-webkit-slider-thumb {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.music-container .music-content #bg-image #music-image {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 215px;
}

.music-container .music-content #bg-image #music-image #circle-image {
  position: absolute;
  top: 33%;
  left: 50%;
  width: 120px;
  height: 120px;
  border: 5px solid rgba(221, 221, 221, 0.897);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

.music-container .music-content #bg-image #music-image #circle-image img {
  width: 100%;
  height: 100%;
}

.music-container .music-content #bg-image #music-title {
  position: relative;
  padding: 0 25px;
  top: 65%;
  color: #ffffff;
}

.music-container .music-content #bg-image #music-title h5 {
  margin: 20px 0 5px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.music-container .music-content #bg-image #music-title h6 {
  margin: 0;
  font-size: 12.5px;
  font-weight: 400;
  text-align: center;
}

.music-container .music-content #bg-image #music-menu {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 40px;
  margin: 0 auto;
}

.music-container .music-content #bg-image #music-menu img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */