body {
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #ffb399;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.music-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.music-container .music-content {
  position: relative;
  width: 245px;
  height: 450px;
  border: solid;
  border-width: 8px 4px;
  border-radius: 20px;
  background-color: #000000;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.52);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.52);
  overflow: hidden;
}

.music-container .music-content #bg-image #black-layer {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.404);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.music-container .music-content #bg-image img {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 315%;
  height: 105%;
  -o-object-fit: cover;
     object-fit: cover;
  /* object-position: 10% 0; */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.music-container .music-content #menu {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
}

.music-container .music-content #menu img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.music-container .music-content #volume-container {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 15px;
}

.music-container .music-content #volume-container img {
  width: 16px;
  height: 16px;
  margin: 0 15px;
}

.music-container .music-content #volume-container .slider {
  position: relative;
  z-index: 999;
  width: 110px;
  height: 1px;
  outline: none;
  background-color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.music-container .music-content #volume-container .slider::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  outline: none;
  background-color: #e62c2f;
  border-radius: 50%;
  -webkit-appearance: none;
          appearance: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.music-container .music-content #volume-container .slider:active::-webkit-slider-thumb {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.music-container .music-content #music-image {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 210px;
}

.music-container .music-content #music-image #circle-image {
  position: absolute;
  top: 33%;
  left: 50%;
  width: 120px;
  height: 120px;
  border: 5px solid rgba(221, 221, 221, 0.897);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

.music-container .music-content #music-image #circle-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.music-container .music-content #music-title {
  position: relative;
  padding: 0 25px;
  top: 65%;
  color: #ffffff;
}

.music-container .music-content #music-title h5 {
  margin: 5px 0 5px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.music-container .music-content #music-title h6 {
  margin: 0;
  font-size: 12.5px;
  font-weight: 400;
  text-align: center;
}

.music-container .music-content #music-menu {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 35px;
  margin: 0 auto;
}

.music-container .music-content #music-menu img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.music-container .music-content #current-time {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  padding: 0 20px 5px;
  color: #ffffff;
}

.music-container .music-content #current-time span {
  font-size: 12px;
}

.music-container .music-content #seek-slider {
  position: fixed;
  z-index: 3;
  width: 100px;
  height: 2px;
  margin-left: 70px;
  outline: none;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.music-container .music-content #seek-slider::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  outline: none;
  background-color: #e62c2f;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-appearance: none;
          appearance: none;
}

.music-container .music-content #seek-slider:active::-webkit-slider-thumb {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.music-container .music-content #buttons {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

.music-container .music-content #buttons .repeat {
  position: absolute;
  top: 30%;
  left: 6%;
  font-size: 15px;
  cursor: pointer;
}

.music-container .music-content #buttons .repeat img {
  width: 16px;
  height: 16px;
}

.music-container .music-content #buttons .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.music-container .music-content #buttons .control .play {
  width: 60px;
  height: 50px;
  margin: 0 5px;
}

.music-container .music-content #buttons .control .play img {
  width: 100%;
  height: 100%;
}

.music-container .music-content #buttons .control .prev img,
.music-container .music-content #buttons .control .next img {
  width: 20px;
  height: 20px;
}

.music-container .music-content #buttons .like {
  position: absolute;
  top: 30%;
  right: 10%;
  cursor: pointer;
}

.music-container .music-content #buttons .like img {
  width: 14px;
  height: 14px;
}
/*# sourceMappingURL=style.css.map */